        <div class="modal-header">
            <h3 class="modal-title">Change Status</h3>
        </div>
        <div class="modal-body">
			<div class="radio">
				<label>
					<input type="radio" ng-model="data.changeStatus.reason" value="1">
					I found a job, Thanks to JLM.
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" ng-model="data.changeStatus.reason" value="2">
					I found a job, Without this site help.
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" ng-model="data.changeStatus.reason" value="9">
					Other
				</label>
			</div>
			<textarea class="form-control" ng-model="data.changeStatus.description" ng-show="data.changeStatus.reason == 9" rows="3" placeholder="Why do you turn off your profile?"></textarea>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="change()" ng-disabled="!data.changeStatus.reason || (data.changeStatus.reason == 9 && (!data.changeStatus.description || data.changeStatus.description == ''))">Change</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>