		<header>
			<div ng-include src="'view/include/nav.html'"></div>
			<div ng-include src="'view/include/header-not-connected.html'"></div>
		</header>

		<section class="main-context">
			<div class="container">
				<div class="row">
					<div class="col-md-5 text-center" >
						<h2 class="mb-40">Sign in</h2>
                        <uib-alert ng-show="alerts.login.msg != null" type="{{alerts.login.type}}" close="closeAlert('login')"><span ng-bind-html="alerts.login.msg"></span></uib-alert>
                        <form class="text-left mb-40" ng-submit="adminlogin()">
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Email" ng-model="data.adminlogin.Email" required>
							</div>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Password" ng-model="data.adminlogin.Password" required>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="data.adminlogin.auto"> Remember me
								</label>
							</div>
							<button type="submit" class="btn btn-block btn-jlm">Sign in <i class="fa fa-angle-double-right"></i></button>
						</form>
						<p class="text-left">Have you forgot your password? <a href="#/admin-reset-password">Click here</a></p>
					</div>
		
				</div>
			</div>
		</section>
		
		<div ng-include src="'view/include/footer.html'"></div>
