<header>
    <div ng-include src="'view/include/nav.html'"></div>
    <div ng-include src="'view/include/header-connected.html'"></div>
</header>

<section class="main-context">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center col-md-offset-3">
                <h2 class="mb-40">Change password</h2>
                <uib-alert ng-show="alerts.changePassword.msg != null" type="{{alerts.changePassword.type}}" close="closeAlert('changePassword')"><span ng-bind-html="alerts.changePassword.msg"></span></uib-alert>
                <form class="text-left mb-40" ng-submit="changePassword()">
                    <div class="form-group">
                        <input type="password" class="form-control" ng-model="data.changePassword.password" placeholder="New Password" required ></div>
                    <div class="form-group">
                        <input type="password" class="form-control" ng-model="data.changePassword.password2" placeholder="Confirm new Password" required>
                    </div>
                    <button type="submit" class="btn btn-block btn-jlm">Change <i class="fa fa-angle-double-right"></i></button>
                </form>
                <p><a href="#/profile">Back to profile</a></p>
            </div>
        </div>
    </div>
</section>

<div ng-include src="'view/include/footer.html'"></div>