<header>
    <div ng-include src="'view/include/nav.html'"></div>
    <div ng-include src="'view/include/header-connected.html'"></div>
</header>

<section class="main-context">
    <div class="container" div ng-controller='changePassword'>
        <div class="row">
            <div class="col-md-6 text-center col-md-offset-3">
                <h2 class="mb-40">Change password</h2>
                <form class="text-left mb-40" ng-submit="changePassword()">
                    <div class="form-group">
                        <input  data-ng-model='user.password' type="password" class="form-control" id="old_password" placeholder="Old Password" required><br>
                        <input ng-model='user.password_verify' type="password" class="form-control" id="new_password" placeholder="New Password" required><br>
<!--
                        <div ng-show="form.confirm_password.$error.required">
                        Field required!</div>
                        <div ng-show="form.confirm_password.$error.passwordVerify">
                        Fields are not equal!</div>
-->
<!--                        <input type="password" class="form-control" id="confirm_password" placeholder="Confirm new Password" required data-password-verify="user.password"><br>-->
                    </div>
                    <button type="submit" class="btn btn-block btn-jlm">Change <i class="fa fa-angle-double-right"></i></button>
                </form>
                <p><a href="#/profile">Back for profile</a></p>
            </div>
        </div>
    </div>
</section>

<div ng-include src="'view/include/footer.html'"></div>




<!--

<div ng-controller='Ctrl'>
   <form name='form'>
      <input data-ng-model='user.password' type="password" name='password' placeholder='password' required>
      <div ng-show="form.password.$error.required">
        Field required</div>
      <input ng-model='user.password_verify' type="password" name='confirm_password' placeholder='confirm password' required data-password-verify="user.password">
      <div ng-show="form.confirm_password.$error.required">
        Field required!</div>
      <div ng-show="form.confirm_password.$error.passwordVerify">
        Fields are not equal!</div>
   </form
</div>
-->
