		<header>
			<div ng-include src="'view/include/nav.html'"></div>
			<div ng-include src="'view/include/header-not-connected.html'"></div>
		</header>

		<section class="main-context">
			<div class="container">
				<div class="row">
					<div class="col-md-5 text-center">
						<h2>Companies</h2>
						<p>Company enterance to seek for employees</p>
						<a href="http://job.madeinjlm.org/company.php" class="btn btn-block btn-jlm">Start <i class="fa fa-angle-double-right"></i></a>
					</div>
					<div class="col-md-5 col-md-offset-2 text-center">
						<h2>Student</h2>
						<p>Students entrance. Here you can manage your profile - add and edit your information</p>
						<a href="login" class="btn btn-block btn-jlm">Start <i class="fa fa-angle-double-right"></i></a>
					</div>
					<div class="col-md-6 col-md-offset-3 text-center">
						<h2>Admin</h2>
						<p>Admin entrance</p>
						<a href="admin-login" class="btn btn-block btn-jlm">Start <i class="fa fa-angle-double-right"></i></a>
					</div>
				</div>
			</div>
		</section>
		
		<div ng-include src="'view/include/footer.html'"></div>
