		<header>
			<div ng-include src="'view/include/nav.html'"></div>
			<div ng-include src="'view/include/header-not-connected.html'"></div>
		</header>

		<section class="main-context">
			<div class="container">
				<div class="row">
					<div class="col-md-5 text-center">
						<h2>Companies</h2>
						<p>Company enterance to seek for employees</p>
						<a href="http://job.madeinjlm.org/company.php" class="btn btn-block btn-jlm">Start <i class="fa fa-angle-double-right"></i></a>
					</div>
					<div class="col-md-5 col-md-offset-2 text-center">
						<h2>Student</h2>
						<p>Students entrance. Here you can manage your profile - add and edit your information</p>
						<a href="login" class="btn btn-block btn-jlm">Start <i class="fa fa-angle-double-right"></i></a>
					</div>
					<div class="col-md-6 col-md-offset-3 text-center">
						<h2>Admin</h2>
						<p>Admin entrance</p>
						<a href="http://job.madeinjlm.org/admin.php" class="btn btn-block btn-jlm">Start <i class="fa fa-angle-double-right"></i></a>
					</div>
				</div>
			</div>
		</section>
		
		<footer>
			<div class="container">
				MADE IN JERUSALEM, 22 SHIVTEI ISRAEL ST, JERUSALEM, ISRAEL © 2016 
				<p><a href="termOfUse" target="_blank">Terms Of Use</a></p>
                <p>Develpoed by: <a href="http://job.madeinjlm.org/madeJLM-Company/ActiveC/V0.1/#/about" target="_blank">ActiveC</a>, </a><a href = "https://github.com/Think-Smart" target="_blank">Barak Turgeman</a>, <a href="https://github.com/alonshmilo" target="_blank">Alon Shmilovich</a>, <a href="https://github.com/Dor-H" target="_blank">Dor Harel</a>, <a href="https://github.com/moria0525" target="_blank">Moriah Rabayoff</a> and <a href="https://github.com/sh00ki" target="_blank">Yoad Shiran</a></p>
                <p>At JCE Azrieli - Jerusalem College Of Engineering - Software Engineer Department - June 2016</p>
                
			</div>
		</footer>
