		<header>
			<div ng-include src="'view/include/nav.html'"></div>
			<div ng-include src="'view/include/header-not-connected.html'"></div>
		</header>

		<section class="main-context">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-center col-md-offset-3">
						<h2 class="mb-40">Choose new password</h2>
                        <uib-alert ng-show="alerts.newPassword.msg != null" type="{{alerts.newPassword.type}}" close="closeAlert('newPassword')"><span ng-bind-html="alerts.newPassword.msg"></span></uib-alert>
						<form class="text-left mb-40" ng-submit="newPassword()">
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Password" ng-model="data.newPassword.passsword" required>
							</div>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Confirm password" ng-model="data.newPassword.passsword2" required>
							</div>
							<button type="submit" class="btn btn-block btn-jlm">Send <i class="fa fa-angle-double-right"></i></button>
						</form>
						<p><a href="#/">Back for home</a></p>
					</div>
				</div>
			</div>
		</section>
		
		<div ng-include src="'view/include/footer.html'"></div>
