		<header>
			<div ng-include src="'view/include/nav.html'"></div>
			<div ng-include src="'view/include/header-connected.html'"></div>
		</header>

		<section class="main-context">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2 class="mb-40">profile</h2>
                        <button class="btn" ng-click="logOut()">Log out</button>

                        <a href="#change-password" class="btn btn-block btn-jlm-change">Change Password<i class="fa fa-angle-double-right"></i></a>
					</div>
                    
                    <div class="col-md-2 text-center" id="drop-zone">
                        <h2 class="md-4">drop picture here or click
<!--                        <div id="clickhere">-->
<!--                        click here!-->
                            <input type="file" name="file" id="file" >
<!--                        </div>-->
                        </h2>
                    </div>
				</div>
			</div>
		</section>
		
		<div ng-include src="'view/include/footer.html'"></div>