		<header>
			<div ng-include src="'view/include/nav.html'"></div>
			<div ng-include src="'view/include/header-connected.html'"></div>
		</header>

		<section class="main-context">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2 class="mb-40">profile</h2>
                        <button class="btn" ng-click="logOut()">Log out</button>

                        <a href="#change-password" class="btn btn-block btn-jlm-change">Change Password<i class="fa fa-angle-double-right"></i></a><br>
					</div>
                    

                   <div id="fileupload" >
                    <div class="myfileupload-buttonbar ">
                        <label class="myui-button">
                            <span >Add Files for my picture</span>
                            <input id="file" type="file" name="files[]" />
                        </label>
                    </div>
                </div>    
                
                <div class="col-md-8 text-center" id ="fieldArea">
                Personal Information
                </div>
                <div div class="col-md-8 text-center" id ="fieldArea">
                Education
                </div>             
                <div div class="col-md-8 text-center" id ="fieldArea">
                Experience
                </div>
                <div div class="col-md-8 text-center" id ="fieldArea">
                Skills
                </div>
                <div div class="col-md-8 text-center" id ="fieldArea">
                Links & Files
                </div>
			</div>
            </div>
		</section>
		
		<div ng-include src="'view/include/footer.html'"></div>