		<header>
			<div ng-include src="'view/include/nav.html'"></div>
			<div ng-include src="'view/include/header-not-connected.html'"></div>
		</header>

		<section class="main-context">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-center col-md-offset-3">
						<h2 class="mb-40">Forgot password</h2>
                        <uib-alert ng-show="alerts.resetPassword.msg != null" type="{{alerts.resetPassword.type}}" close="closeAlert('resetPassword')"><span ng-bind-html="alerts.resetPassword.msg"></span></uib-alert>
						<form class="text-left mb-40" ng-submit="resetPassword()">
							<div class="form-group">
								<input type="email" class="form-control" ng-model="data.resetPassword.Email" placeholder="Email">
							</div>
							<button type="submit" class="btn btn-block btn-jlm">Send <i class="fa fa-angle-double-right"></i></button>
						</form>
						<p><a href="#/">Back for home</a></p>
					</div>
				</div>
			</div>
		</section>
		
		<div ng-include src="'view/include/footer.html'"></div>
