<header>
    <div ng-include src="'view/include/nav.html'"></div>
    <div ng-include src="'view/include/header-not-connected.html'"></div>
</header>

<section class="main-context">
    <div class="container">
        <div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 style="font-size: 50px;" class="text-center">Term Of Use</h1>
				<div dir="RTL" style="margin-top: 30px;">
					<p>
						<b>תקנון לשימוש באתר:</b><br>
						מטעמי נוחות נוקט התקנון בלשון זכר, ואולם כל הנאמר בו מתייחס לנשים ולגברים כאחד.
					</p>
					<ol>
						<li>
							השימוש באתר על תכניו והשירותים הניתנים בו, מוצעים לך בכפוף לקבלתך את כל התנאים הכלולים בתקנון זה.
						</li>
						<li>
							הגלישה באתר ו/או הרשמתך כמנוי לקבלת שירותיו, ייחשבו להסכמה מצדך לתנאים אלה.
						</li>
						<li>
							הנהלת האתר רשאית להשעות, לחסום או להפסיק לאלתר את גישת הגולש לשירות אם יפר את תנאי התקנון.
						</li>
						<li>
							הנהלת האתר רשאית לעדכן את תנאי התקנון מעת לעת.
						</li>
						<li>
							אין לעשות באתר או באמצעותו כל שימוש למטרות בלתי חוקיות.
						</li>
						<li>
							ההרשמה כמנוי מיועדת ומותרת לגילאי ח"י ומעלה בלבד. בהרשמתך הנך מצהיר כי גילך אכן מעל 18 שנה.
						</li>
						<li>
							אין לרשום אדם אחר שלא בהסכמתו ו/או ללא נוכחותו מול המסך בשעת הרישום ולאחר שהוסברו לו כל תנאי תקנון זה.
						</li>
						<li>
							הרישום באתר הוא לשימוש האישי והבלעדי של הגולש אשר אינו רשאי להעביר את הרשאת השימוש לאדם אחר כלשהו. חובה מיוחדת לדייק לחלוטין בכל הפרטים האישיים הנדרשים לצורך הרישום ולצורך הקשר השוטף עם המנוי.	</li>
						<li>
							אין לפרסם או להעביר באמצעות האתר כל מידע שהוא שקרי, מעליב, משמיץ, מאיים, פוגע בפרטיות הזולת, פורנוגרפי, בעל אופי מיני, גזעני, או בלתי חוקי.
						</li>
						<li>
							הנך אחראי באופן בלעדי לנכונות המידע אותו תפרסם או תעביר באמצעות האתר. הנהלת האתר אינה מקבלת על עצמה כל אחריות לתכנים המפורסמים או מועברים בין המנויים.
						</li>
						<li>
							אין לעשות באתר כל שימוש מסחרי בדרך של משלוח פרסומות או בכל דרך אחרת.
						</li>
						<li>
							אין לשלוח באמצעות האתר הודעה המיועדת ליותר מ- 5 נמענים.
						</li>
						<li>
							הנך מצהיר כי ידוע לך שלהנהלת האתר אין כל יכולת או אפשרות לבדוק, לנפות או לסנן את המנויים הנרשמים לאתר.
						</li>
						<li>
							כל קשר וירטואלי או אחר שלך עם מי מהמנויים האחרים באתר, וזאת בין בהתכתבות או בצ'ט ובין במסגרת "פגישות "אמת", הן באחריותך הבלעדית. מומלץ ביותר לשקול היטב ולוודא את מירב הפרטים אודות הצד השני לפני כל מפגש כזה, וכן לנקוט באמצעי זהירות מרביים לפני הפגישה הראשונה עם אדם לא מוכר. בשום מקרה לא תהיה להנהלת האתר כל אחריות לתוצאות כל קשר כאמור, ומבלי לגרוע מכלליות האמור לעיל לנזקים פיזיים, נפשיים, כספיים, רגשיים ואחרים.
						</li>
						<li>
							בכוונת הנהלת האתר כי האתר ושירותיו יהיו זמינים בכל עת. יחד עם זאת אין ביכולת הנהלת האתר להתחייב לזמינות רצופה ללא תקלות וללא "נפילות". כמו כן רשאית הנהלת האתר להפסיק את השימוש באתר מעת לעת לצורכי תחזוקתו וארגונו. לא יינתן כל פיצוי כספי/זיכוי בשל תקלות או הפסקות בשירות.
						</li>
						<li>
							כל זכויות הקניין הרוחני וזכויות היוצרים בקשר לאתר הם של הנהלת האתר.
						</li>
						<li>
							הנהלת האתר אינה אחראית לתוכן מודעות, "באנרים" או לכל חומר פרסומי באתר. האחריות לכך על המפרסמים בלבד.
						</li>
						<li>
							הימצאותם של קישורים ("לינקים") לאתרים אחרים אינם מהווים ערובה לתכנים באתרים אלה מבחינת מהימנותם, שלמותם, או מכל בחינה אחרת.
						</li>
						<li>
							על התקנון יחול הדין הישראלי. סמכות השיפוט לגביו לבתי המשפט המוסמכים בתל אביב.
						</li>
					</ol>
					<p class="text-center"><a href="./">חזרה לדף הבית</a></p>
				</div>
			</div>
		</div>
    </div>
</section>

<div ng-include src="'view/include/footer.html'"></div>
