		<footer>
			<div class="container">
				MADE IN JERUSALEM, 22 SHIVTEI ISRAEL ST, JERUSALEM, ISRAEL © 2016 
				<p><a href="termOfUse" target="_blank">Terms Of Use</a></p>
                <p>Develpoed by: <a href = "https://github.com/Think-Smart" target="_blank">Barak Turgeman</a>, <a href="https://github.com/alonshmilo" target="_blank">Alon Shmilovich</a>, <a href="https://github.com/Dor-H" target="_blank">Dor Harel</a>, <a href="https://github.com/moria0525" target="_blank">Moriah Rabayoff</a> and <a href="https://github.com/sh00ki" target="_blank">Yoad Shiran</a></p>
                <p>At JCE Azrieli - Jerusalem College Of Engineering - Software Engineer Department - June 2016</p>
                
			</div>
		</footer>
