			<div class="container header-connected">
				<profile-picture></profile-picture>
				<div id="header-connected-top">
					<div class="student-action">
						<div ng-controller="DropdownCtrl" tooltip-placement="top-right" uib-tooltip="Click here for user actions">
							<span uib-dropdown on-toggle="toggled(open)">
							  <a href id="user-setting" uib-dropdown-toggle >
								<i class="fa fa-cog" aria-hidden="true"></i>
							  </a>
							  <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu aria-labelledby="user-setting">
<!--								<li><a >Change status</a></li>-->
								<li><a href="change-password">Change Password</a></li>
								<li><a href ng-click="logOut()">Log out</a></li>
							  </ul>
							</span>
						</div>         
						<switch-status  name="onOff" tooltip-placement="top-right" uib-tooltip="Click here to change your status" ></switch-status>
					</div>
					<span class="student-hi">Hi {{studentData.first_name}},</span>
				</div>
				<div id="header-connected-bottom">
					<div tooltip-placement="bottom-left" uib-tooltip="How many companies watched me?">{{studentData.counter_view}} companies watched you</div>
				</div>
			</div>
