			<div id="top-header">
				<nav class="container header-nav">
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Why Jerusalem</a></li>
						<li><a href="#">Companies</a></li>
						<li><a href="#">Locations</a></li>
					</ul>
					<a href="./" title="Made in JLM" id="logo"><img src="img/logo.png" alt="Made in JLM logo"></a>
					<ul class="right">
						<li><a href="#">Get Involved</a></li>
						<li><a href="#">Jobs</a></li>
						<li><a href="#">Events</a></li>
						<li><a href="#">News</a></li>
					</ul>
				</nav>
			</div>
