IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

Options -Indexes


RewriteEngine on

ErrorDocument 404 /404


RewriteRule API\/([^/]+)\/([\d]+)$ api.php?api=$1&id=$2&%{QUERY_STRING}
RewriteRule API\/([^/]+)\/([^/]+)\/([\d]+)$ api.php?api=$1&fname=$2&id=$3&%{QUERY_STRING}
RewriteRule API\/([^/]+)\/([^/]+)$ api.php?api=$1&fname=$2&%{QUERY_STRING}
RewriteRule API\/([^/]+)$ api.php?api=$1&%{QUERY_STRING}
