
.myfileupload-buttonbar input
        {
/*            position: absolute;*/
/*            top: 0;*/
/*            right: 0;*/
/*            margin: 0;*/
            border: solid transparent;
            border-width: 0 0 100px 200px;
            opacity: 2;
/*
            filter: alpha(opacity=0);
            -o-transform: translate(250px, -50px) scale(1);
            -moz-transform: translate(-300px, 0) scale(4);
            direction: ltr;
            cursor: pointer;
*/
        }
        .myui-button
        {
             border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    margin: 2px;
/*            
            position: relative;*/
/*            cursor: pointer;*/
            text-align: center;
/*            overflow: visible;*/
/*            background-color: red;*/
/*            overflow: hidden;*/
}
#fieldArea {
   

/*    position:absolute;*/
/*    left:50%;*/
/*    top:100px;*/
/*    margin-left:-150px;*/
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    margin: 2px;
    border-color: black;
    font-family: Tahoma;
/*    text-align: center;*/
/*    position: relative;*/
    line-height: 180px;
    font-size: 20px;
    color: black;
}
