@charset "utf-8";

/* general style */
* {
  border-color: #e1e1e1;
  border-style: solid;
  border-width: 0;
  zoom: 1;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
*:focus {
  outline: none !important;
}
html, body {
  height: 100%;
}
body {
	font-family: 'Raleway', sans-serif;
	line-height: 1.6;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	position: relative;
	background: #fff;
	font-size: 17px;
	color: #333;
}
input, button, select, textarea {
	font-family: 'Raleway', sans-serif;
}
a {
  color: #2e5481;
}
a:visited {
  color: #7996b7;
}
a:active {
  color: #000;
}
h1 {font-weight: 200;}
h2, h3, h4 {
    font-weight: 300;
}

/* end general style */

/* end btn-jlm style */
.btn.btn-jlm:visited,
.btn.btn-jlm {
    border-style: solid;
    background-color: transparent;
    -webkit-transition: 0.1s background-color linear, 0.1s color linear;
    -moz-transition: 0.1s background-color linear, 0.1s color linear;
    -o-transition: 0.1s background-color linear, 0.1s color linear;
    transition: 0.1s background-color linear, 0.1s color linear;
    color: #1c1c1c;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-color: #1c1c1c;
	
    font-size: 18px;
    border-width: 1px;
    padding: 10px 0;
    font-weight: 400;
	
}
.btn.btn-jlm:hover {
	background: #1c1c1c;
	color: #FFF;
}
/* end general style */

/* header style */
header {
    background: #333 url('../img/strip-background2.jpg');
    background-size: 100%;
}
header #logo {
	display: block;
	width:24%;
	float: left;
}
header #logo img {
	width: 100%;
}
header ul {
	width:38%;
	float: left;
}
header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 274px;
    line-height: 274px;
}
header ul li {
    text-align: left;
    display: inline-block;
    margin-right: 20px;
}
header ul.right li {
    text-align: right;
    margin-left: 20px;
}
header ul a:visited ,
header ul a {
    color: #E2E2E2;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-o-transition: 0.3s all;
	-ms-transition: 0.3s all;
	transition: 0.3s all;
}
header ul a:hover {
    color: #FFF;
    text-decoration: initial;
}
header .header-not-connected {
    text-align: center;
    color: #FFF;
	padding-bottom: 60px;
}
header .header-not-connected h1 {
    font-weight: 100;
    font-size: 86px;
}
header .header-not-connected h2 {
    font-weight: 100;
}

header .header-connected {
    text-align: center;
    color: #FFF;
	padding-bottom: 60px;
}
header .header-connected h1 {
    font-weight: 100;
    font-size: 86px;
}

.mb-40 {margin-bottom: 40px;}
.form-control {
    padding: 10px 10px;
    height: auto;
    font-size: 17px;
}
/* end header style */

/* main style */
.main-context {
	margin: 60px 0;
}
/* end main style */

/* footer style */
footer {
    background: #26201e;
    color: #FFF;
    padding: 40px 0;
    text-align: center;
}
/* end footer style */

