<!--
<label class="col-sm-4 profileItemLable" ng-click="showEditZone()" tooltip-placement="top-right" uib-tooltip="Click for edit">{{ title }}:</label>
<div class="col-sm-8" ng-if="directive == 'profileEditSelect' || directive == 'profileEditText'">
	<div class="no-edit-zone" ng-click="showEditZone()" ng-show="!editZoneShow" tooltip-placement="top-left" uib-tooltip="Click for edit">
		{{value}}&nbsp;
		
	</div>
	<div class="edit-zone" ng-show="editZoneShow">
		<profile-multy="multy" value="value">
			<div class="input-group">
				<input type="text" class="form-control" " ng-model="editValue">
				<div class="input-group-btn">
					<button type="button" class="btn btn-success" ng-click="editZoneSave()" ng-disabled="value == editValue">Save</button>
					<button type="button" class="btn btn-warning" ng-click="editZoneReset()" ng-disabled="value == editValue">Reset</button>
					<button type="button" ng-show="multy == 1" class="btn btn-danger" ng-click="editZoneRemove()">Remove</button>
					<button type="button" class="btn btn-default" ng-click="editZoneClose()">Cancel</button>
				</div>
			</div>
		</profile-multy>
		<button type="button" ng-show="multy == 1" class="btn btn-link" ng-click="editZoneClose()"><i class="fa fa-plus"></i> Add</button>
	</div>
</div>
<style>
.profileItemLable {line-height: 46px;text-align: right;cursor: pointer;}
.no-edit-zone {line-height: 46px;cursor: pointer;padding-left: 11px;margin-bottom: 10px;}
.edit-zone .input-group-btn > .btn {
    padding: 10px 10px;
    font-size: 17px;
}
.edit-zone .input-group-btn > .btn {
    padding: 10px 10px;
    font-size: 17px;
}
.edit-zone .input-group {
    margin-bottom: 10px;
}
</style>

<div class="upload-file-zone" upload-file="imageDataURI" upload-file-accept="" upload-file-text="Choose picture:" upload-file-name="picture"></div>
-->
					<label class="col-sm-4 profileItemLable" ng-click="showEditZone()" tooltip-placement="top-right" uib-tooltip="Click for edit">{{ title }}:</label>
					<div class="col-sm-8">
						<div class="no-edit-zone" ng-click="showEditZone()" ng-show="!editZoneShow" tooltip-placement="top-left" uib-tooltip="Click for edit">
							<!--
							<div multy-data="value" multy="multy">{{value}}</div>
							-->
							<multy-data>{{value}}</multy-data>
						</div>
						<div class="edit-zone" ng-show="editZoneShow">
							<div multy-data="value" multy="multy">
								<div input-text="value"></div>
							</div>
							<!--
							<div class="input-group">
								<input type="text" class="form-control" " ng-model="editValue">
								<div class="input-group-btn">
									<button type="button" class="btn btn-success" ng-click="editZoneSave()" ng-disabled="value == editValue">Save</button>
									<button type="button" class="btn btn-warning" ng-click="editZoneReset()" ng-disabled="value == editValue">Reset</button>
									<button type="button" class="btn btn-default" ng-click="editZoneClose()">Cancel</button>
								</div>
							</div>
							<div class="input-group" ng-repeat="(key, valueValue) in editValue">
								<div class="input-group">
									<input type="text" class="form-control" " ng-model="editValue">
									<div class="input-group-btn">
										<button type="button" class="btn btn-success" ng-click="editZoneSave()" ng-disabled="value == editValue">Save</button>
										<button type="button" class="btn btn-warning" ng-click="editZoneReset()" ng-disabled="value == editValue">Reset</button>
										<button type="button" ng-show="multy == 1" class="btn btn-danger" ng-click="editZoneRemove()">Remove</button>
										<button type="button" class="btn btn-default" ng-click="editZoneClose()">Cancel</button>
									</div>
								</div>
							</div>
							<button type="button" class="btn btn-link" ng-click="editZoneClose()"><i class="fa fa-plus"></i> Add</button>
							-->
						</div>
					</div>
